.App {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 0.7s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

